[Unit]
Description=Lavalink
After=network.target

[Service]
WorkingDirectory=/root
ExecStart=/usr/bin/java -jar Lavalink.jar

Restart=always

[Install]
WantedBy=multi-user.target
